<!DOCTYPE html>
<html>
<head>
  <title>Ledgerizer</title>
  <%= stylesheet_link_tag    "ledgerizer/application", media: "all" %>
  <%= javascript_include_tag "ledgerizer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
